*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  height: 100px;
  background-color: blanchedalmond;
}



.content {
  width: 30%;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
}

.titleLogin {
  width: 200px;
  height: 50px;
  margin-bottom: 15px;

}

.titleLogin h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.boxInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input#username, input#password {
  padding: 8px 25px;
  border-radius: 12px;
}

button {
  width: 100px;
  padding: 6px 5px;
  border-radius: 5px;
}
